body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}
ol,
ul {
  list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: normal;
}
fieldset,
img {
  border: none;
  max-width: 100%;
}
input,
button {
  vertical-align: middle;
  color: #6b5f53;
  outline: none;
}
caption,
th {
  text-align: left;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
@font-face {
  font-family: 'JQBiaoSongJT';
  src: url('../font/JQBiaoSongJT/JQBiaoSongJT.ttf') format('TrueType'), url('../font//JQBiaoSongJT/JQBiaoSongJT.otf') format('OpenType'), url('../font//JQBiaoSongJT/JQBiaoSongJT.eot') format('(EmbeddedOpenType'), url('../font//JQBiaoSongJT/JQBiaoSongJT.woff') format('font-woff'), url('../font//JQBiaoSongJT/JQBiaoSongJT.woff2') format('font-woff2');
  font-style: normal;
}
@font-face {
  font-family: 'CenturyGothic';
  src: url('../font/Century_Gothic/Century Gothic.ttf') format('TrueType'), url('../font/Century_Gothic/Century Gothic.otf') format('OpenType'), url('../font/Century_Gothic/Century Gothic.eot') format('(EmbeddedOpenType'), url('../font/Century_Gothic/Century Gothic.woff') format('font-woff'), url('../font/Century_Gothic/JQBiaoSongJT.woff2') format('font-woff2');
  font-style: normal;
}
body {
  font-family: CenturyGothic;
  color: #000;
  margin: 0 auto;
  text-align: left;
  -webkit-text-size-adjust: none;
  line-height: 24px;
  background: #fff;
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
  color: #333333;
  -webkit-font-smoothing: antialiased;
  position: relative;
  font-style: normal;
  font-size: 14px;
}
.w100 {
  width: 100%;
}
.w1200 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}
.fcblue {
  color: #28346e;
}
header {
  position: relative;
}
header .header {
  height: 40px;
  line-height: 40px;
}
header .header .rightmenu {
  float: right;
}
header .header .rightmenu span {
  color: #28346e;
  position: relative;
  padding-left: 10px;
}
header .header .rightmenu span a {
  color: #28346e;
}
header .header .rightmenu span:not(:last-child):after {
  content: '|';
  padding-left: 10px;
  color: #d4d6e2;
}
header .header .rightmenu a {
  display: inline-block;
}
header .header .rightmenu a img {
  display: inline-block;
  line-height: 40px;
  vertical-align: middle;
}
header .logo-box {
  position: absolute;
  top: 77px;
  left: 50%;
  width: 100%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  z-index: 105;
  height: 72px;
}
header .logo-box .colorbloack {
  width: calc((100% - 1200px)/2);
}
header .logo-box .logopic {
  width: 312px;
  float: left;
}
header .logo-box .logopic a {
  width: calc(100% - 63px);
  height: 60px;
  background-color: #fff;
  display: inline-block;
  text-align: center;
  float: left;
  margin-left: -2px;
}
header .logo-box .logopic .rigpic {
  width: 63px;
  display: inline-block;
  float: left;
  margin-left: -1px;
  margin-top: 1px;
}
header .logo-box .midblock {
  width: 62px;
  float: left;
  position: absolute;
  left: 269px;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}
header .logo-box .midblock img {
  display: block;
  vertical-align: top;
}
header .logo-box .nav-box {
  width: calc((100% - 331px));
  margin-left: 19px;
  font-size: 18px;
  padding: 24px 0;
  float: left;
  background-color: rgba(40, 52, 110, 0.9);
}
header .logo-box .nav-box a {
  color: #fff;
}
.inlieblock {
  display: inline-block;
  position: relative;
}
.indexbanner {
  clear: both;
  position: absolute;
  z-index: 100;
  top: 42px;
  width: 100%;
  overflow: hidden;
}
.indexbanner img {
  display: block;
}
.bgcolorW {
  background: #FFF;
}
.h60 {
  height: 60px;
}
.h72 {
  height: 72px;
}
