body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

ol,
ul {
    list-style: none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

fieldset,
img {
    border: none;
    max-width: 100%;
}

div {
    outline: none;
}


input,
button,
textarea {
    vertical-align: middle;
    color: #6b5f53;
    outline: none;
}

caption,
th {
    text-align: left;
}

a {
    text-decoration: none;

}

a:hover {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

@font-face {
    font-family: 'JQBiaoSongJT';
    src: url('../font/JQBiaoSongJT/JQBiaoSongJT.ttf') format('TrueType'),
        url('../font//JQBiaoSongJT/JQBiaoSongJT.otf') format('OpenType'),
        url('../font//JQBiaoSongJT/JQBiaoSongJT.eot') format('(EmbeddedOpenType'),
        url('../font//JQBiaoSongJT/JQBiaoSongJT.woff') format('font-woff'),
        url('../font//JQBiaoSongJT/JQBiaoSongJT.woff2') format('font-woff2');
    font-weight: bold;


}

@font-face {
    font-family: 'CenturyGothicStd_Bold';
    src: url('../font/CenturyGothicStd-Bold/CenturyGothicStd-Bold.ttf') format('TrueType'),
        url('../font/CenturyGothicStd-Bold/CenturyGothicStd-Bold.otf') format('OpenType'),
        url('../font/CenturyGothicStd-Bold/CenturyGothicStd-Bold.eot') format('(EmbeddedOpenType'),
        url('../font/CenturyGothicStd-Bold/CenturyGothicStd-Bold.woff') format('font-woff'),
        url('../font/CenturyGothicStd-Bold/CenturyGothicStd-Bold.woff2') format('font-woff2');
    font-weight: bold;


}


@font-face {
    font-family: 'CenturyGothic';
    src: url('../font/Century_Gothic/Century Gothic.ttf') format('TrueType'),
        url('../font/Century_Gothic/Century Gothic.otf') format('OpenType'),
        url('../font/Century_Gothic/Century Gothic.eot') format('(EmbeddedOpenType'),
        url('../font/Century_Gothic/Century Gothic.woff') format('font-woff'),
        url('../font/Century_Gothic/JQBiaoSongJT.woff2') format('font-woff2');

}

body {
    font-family: CenturyGothic;
    color: #000;
    margin: 0 auto;
    text-align: left;
    -webkit-text-size-adjust: none;
    line-height: 24px;
    background: #fff;
    background-attachment: fixed;
    background-size: cover;
    overflow-x: hidden;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    position: relative;
    font-style: normal;
    font-size: 16px;
    word-break: break-word;
}

.w100 {
    width: 100%;
}

.w1200 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.w1200-a {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.fcblue {
    color: #28346e;
}
.fexbox{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 999;
    height: 112px;
}
header {
    position: relative;
      background: #fff;
    .header {
        height: 40px;
        line-height: 40px;
        max-width: 1200px;
        margin: auto;
      
        .rightmenu {
            float: right;


            span {
                color: #28346e;
                position: relative;
                padding-left: 10px;

                a {
                    color: #28346e;
                }
            }

            span:not(:first-child):before {
                content: '|';
                padding-right: 10px;
                color: #d4d6e2;
            }

            a {

                display: inline-block;


                img {
                    display: inline-block;
                    line-height: 40px;
                    vertical-align: middle;
                }
            }


        }
    }

    .logo-box {

        position: absolute;
        top: 76px;
        left: 50%;
        width: 100%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        z-index: 105;
        height: 72px;
        background-image: url(../images/navbgmain.png);
        background-repeat: no-repeat;
        background-position: center top;

        .colorbloack {
            width: calc(~"(100% - 1200px)/2");

        }

        .logopic {
            width: 312px;
            float: left;

            a {
                width: calc(~"100% - 63px");
                height: 60px;

                display: inline-block;
                text-align: center;
                float: left;
                margin-left: -2px;

                img {
                    margin-top: -13px;
                    width: 224px;
                }
            }

            .rigpic {
                width: 63px;
                display: inline-block;
                float: left;
                margin-left: -1px;
                margin-top: 1px;
            }
        }

        .midblock {
            width: 62px;
            float: left;
            position: absolute;
            left: 269px;
            font-size: 0;

            line-height: 0;
            margin: 0;
            padding: 0;

            img {
                display: block;
                vertical-align: top;

            }
        }


        .nav-box {
            width: calc(~"(100% - 331px)");
            margin-left: 19px;
            font-size: 18px;
            padding: 20px 0;
            float: left;
            // background-image: url(../images/navbg.png);
            background-repeat: repeat-x;
            position: relative;
            // background: rgba(40, 52, 110, 0.9);

            .navlink {
                width: calc(~"100% - 180px");
                float: left;
                font-family: 'CenturyGothicStd_Bold';

                a {
                    color: #fff;
                    display: inline-block;
                    margin: 0 28px;

                    &:hover {
                        text-decoration: underline;

                    }
                }
            }

            .searchbox {
                width: 180px;
                float: right;
                height: 32px;
                border-radius: 32px;
                background: #212e6a;
                color: #8e94b3;
                box-sizing: border-box;
                padding: 0 10px;
                line-height: 32px;

                input {
                    width: 130px;
                    height: 32px;
                    border: 0;
                    background: #212e6a;
                    border-radius: 32px;
                    padding: 0 5px;
                    color: #fff;

                }

            }





        }

        // .nav-box:after {
        //     content: '';
        //     width: 1px;
        //     height: 72px;
        //      background: rgba(40,52,110,0.9);
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     right: -1px;
        //     z-index: 1000000;
        // }

        // .nav-box:before {
        //     content: '';
        //     width: 1px;
        //     height: 72px;
        //      background: rgba(40,52,110,0.9);
        //     display: block;
        //     position: absolute;
        //     top: 0;
        //     left: -1px;
        //     z-index: 1000000;
        // }
    }
}

//页面载入动画
.ladingbox {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 107;
    background-color: #fff;
}

.spinner {

    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.cube1,
.cube2 {
    background-color: #f57706;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: cubemove 1.8s infinite ease-in-out;
    animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5)
    }

    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg)
    }

    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5)
    }

    100% {
        -webkit-transform: rotate(-360deg)
    }
}

@keyframes cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }

    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }

    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }

    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
    }

    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}

.inlieblock {
    display: inline-block;
    position: relative;
}



.bgcolorW {
    background: #FFF;
}

.pr10 {
    padding-right: 10px;
}

.h60 {
    height: 60px;
}

.h72 {
    height: 72px;
}

.pagebtn {
    display: block;
    width: 200px;
    height: 54px;
    line-height: 52px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin: auto;
    transition: 0.3s;
    position: relative;
    border: 1px #f67706 solid;
    box-sizing: border-box;
    background: #f67706;
    font-family: 'CenturyGothicStd_Bold';

    .animatebox {
        display: block;
        position: absolute;
        width: 0%;
        height: 100%;
        background: #28346e;
        top: 0;
        left: 0;
        z-index: -1;
        transition: 0.3s;

    }

    i {
        padding-left: 10px;
    }

    &:hover {
        border-color: #fff;
        color: #fff;
    }

    &:hover .animatebox {
        width: 100%;


    }


}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt40 {
    margin-top: 40px;
}

.mt50 {
    margin-top: 50px;
}

.mt70 {
    margin-top: 70px;
}

// 首页

// .banner-index{
//     text-align: center;
//     position: relative;
// }
//  .banner {  
//    width:100%;  
//    position:relative;  
//    overflow:hidden;  
//    height:500px;  
// }  
// .banner img{  
//    width:1920px; 
//    position:absolute;  
//    left:50%;  
//    margin-left:-960px; 
// }  

.swiper-button-prev,.swiper-button-next{
    z-index: 998;
}
.indexbanner {
    clear: both;
    // position: absolute;
    // z-index: 100;
    // top: 42px;
    width: 100%;
    overflow: hidden;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    transition: 0.3s;

    .swiper-slide {
        position: relative;
        text-align: center;

        .imgbox {
            img {}
        }

        .txt-box {
            position: absolute;
            width: 60%;
            left: 50%;
            top: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);

            h3 {
                font-size: 60px;
                color: #fff;
                line-height: 80px;
                font-weight: bold;
                text-align: center;
                text-shadow: 3px 1px 5px #28346e;
            }
        }
    }




    &:hover .indexbanner-prev {
        display: block;
    }


    &:hover .indexbanner-next {
        display: block;
    }
}

.indexbanner-prev,
.indexbanner-next {
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: none;
    text-align: center;
    color: #fff;
    display: none;
    transition: 0.3s;

    &:hover {
        background: #f67706;
    }

}

.bgcontent {
    background-image: url(../images/centerbg.png);
    background-repeat: no-repeat;
    padding-bottom: 60px;
    background-position: center bottom;
}

.contentwrap {
    position: relative;

    .showPre {
        width: 92%;
        z-index: 102;
        padding-bottom: 20px;

        .centershow {
            width: 100%;

            .showitem {
                background: #fff;
                padding: 14px 30px;
                height: 326px;
                position: relative;
                box-shadow: -1px 0px 19px #e0dede;

                .texbox {

                    span {
                        font-family: CenturyGothicStd_Bold;
                        font-size: 24px;
                        color: #28346e;
                        border-bottom: 2px #f67706 solid;
                        line-height: 40px;
                        padding-bottom: 5px;
                    }

                }

                .pic-box {
                    position: absolute;

                    bottom: 0;
                    width: calc(~"100% - 60px");
                    z-index: 103;
                    text-align: center;
                    height: 266px;
                    overflow: hidden;

                    a {
                        display: block;
                        width: 100%;
                        height: 100%;

                        img {
                            max-width: 90%;
                            vertical-align: bottom;
                        }
                    }

                }
            }
        }

    }
}


.showPre-prev,
.showPre-next {
    background: rgba(255, 255, 255, 0.1);
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-image: none;
    text-align: center;
    color: #f67706;
    border-radius: 40px;
    background: #fff;
    box-shadow: -1px 0px 19px #e0dede;
    transition: 0.3s;

    &:hover {
        background: #f67706;
        color: #fff;
    }
}

.showPre-prev:focus,
.showPre-next:focus {
    border: none;
}

.lh30 {
    line-height: 30px !important;
}

.fs16 {
    font-size: 16px;
}

.fs18 {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
}


.fs30 {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
}

.fs36 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
}

.fs72 {
    font-size: 72px;
    line-height: 72px;
    font-weight: bold;

}

.index-about {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.sentmsg {
    width: 100%;
    background-image: url(../images/map.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 60px;
    font-size: 18px;

    .formbox {
        width: 100%;
        max-width: 990px;
        margin: auto;

        .index-input {
            margin-top: 30px;

            .outinput {
                width: calc(~"100%/3 - 20px");
                margin-right: 20px;
                height: 60px;
                box-sizing: border-box;
                padding: 0 14px;
                border: 1px #bdc0d2 solid;
            }

            .outinput:last-child {
                margin-right: 0;
            }

            textarea {
                width: calc(~"100% - 14px");
                resize: none;
                height: 114px;
                padding: 10px 14px;
                border: 1px #bdc0d2 solid;
                box-sizing: border-box;
            }
        }
    }
}

.footerbox {
    background-image: url(../images/footerbg.png);
    background-repeat: no-repeat;
    background-position: center top;
    color: #fff;
    padding-top: 50px;

    .footerbottom {
        background: #28346e;
        padding: 40px;

        .leftbox {
            width: calc(~"100% - 264px");
            float: left;
            margin-top: 10px;

            a {
                color: #fff;
                position: relative;
            }

            a:not(:first-child):before {
                content: '|';
                padding: 0 5px;
                color: #515b8a;
            }




        }

        .rightbox {
            width: 264px;
            float: right;
        }

    }

}

// 关于我们
.pageheadtop {
    clear: both;
    position: relative;
    // position: absolute;
    // z-index: -1;
    // top: 42px;
    width: 100%;
    margin-top: 2px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;

    .picbox {
        width: 100%;
        height: 402px;
        position: relative;
        text-align: center;

        img {
            position: absolute;
            max-width: 1920px !important;
            left: 50%;
            top: 0;
            -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
            -webkit-transform: translate(-50%, 0);
            z-index: -1;
        }

    }

    .menubox {
        text-align: left;
        margin-top: -80px;
        height: 50px;
        line-height: 50px;
        color: #fff;
        margin-bottom: 30px;
        font-size: 18px;
    }
}

.fcyellow {
    color: #f57706;
}

.bigmenu {
    text-align: left;
    border-bottom: 1px #e5e5e5 solid;
    padding-bottom: 20px;
    font-family: 'CenturyGothicStd_Bold';
}

.fwb {
    font-family: 'CenturyGothicStd_Bold';
}

.textleft {
    text-align: left;

}


.yellowbox {
    padding: 30px;
    background: #f57706;
    color: #fff;

    .wrap-box {
        .item {
            width: calc(~"100%/3 - 20px");
            float: left;
            margin-right: 30px;
            text-align: center;

            .pic {
                width: 100%;

                img {
                    max-width: 100%;
                }
            }

            .tit {
                line-height: 40px;
            }
        }

        .item:last-child {
            margin-right: 0;
        }

    }
}

.p-box {
    p {
        padding-top: 40px;
    }
}

.wrap4-box {
    .item {
        width: calc(~"100%4 - 10px");
        margin-right: 20px;
        float: left;
        text-align: center;
    }

    .item:last-child {
        margin-right: 0px;
    }

}

.mb100 {
    margin-bottom: 100px;
}

.boxinfo {
    .info {
        line-height: 50px;
        width: calc(~"100% - 480px");
        float: left;

    }

    .mapbox {
        width: 438px;
        float: left;
        margin-left: 40px;
        height: 530px;
    }
}

.productmenu {
    background: #f3f3f4;
    padding: 30px 40px;
    line-height: 50px;

    a {
        color: #333333;
        position: relative;
        transition: 0.3s;

        &:hover {
            color: #f89238;
        }
    }

    a:after {
        content: '|';
        padding-left: 30px;
        padding-right: 30px;
        color: #dddada;
    }

    a.current {
        color: #f89238;
    }
}

.productList {
    .itempro {
        width: calc(~"100%/3 - 32px");
        margin-right: 44px;
        box-shadow: -1px 0px 19px #e0dede;
        margin-bottom: 44px;
        position: relative;
        transition: 0.3s;
        height: 384px;
        overflow: hidden;

        .pic {
            height: 334px;
            overflow: hidden;

            a {
                display: block;

                img {
                    max-width: 100%;
                    transform: scale(1);
                    transition: 0.3s;
                }
            }

        }


        .txt-box {
            font-weight: bold;
            height: 50px;
            line-height: 50px;

            a {
                color: #333;
                padding: 0 20px;
                font-size: 18px;
                display: block;
            }

            .CIRCLE {
                width: 40px;
                height: 40px;
                display: inline-block;
                text-align: center;
                line-height: 40px;
                border-radius: 50%;
                border: 1px #bbbbbb solid;
                color: #bbbbbb;
                float: right;
                margin-top: 3px;

            }
        }

        float: left;

        .popcss3 {
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgba(0, 0, 0, 0.6);
            color: #fff;
            top: 384px;
            transition: 0.3s;
            padding: 50px;
            text-align: center;

            a {
                display: block;
                width: 100%;
                height: 100%;
                color: #fff;
            }

            h3 {
                font-size: 24px;
                font-weight: bold;

            }
        }
    }

    .itempro:nth-child(3n) {
        margin-right: 0;
    }


    .itempro:hover .popcss3 {
        top: 0;
    }

    .itempro:hover .pic a img {
        transform: scale(1.2);
    }
}

.pagebox {
    text-align: center;

    span,
    a {
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        display: inline-block;
        border-radius: 50%;
        border: 1px #ddd solid;
        color: #333;
        transition: 0.3s;
        margin: 0 5px;
        font-size: 18px;
    }

    a:hover {
        color: #fff;
        background: #f89238;
        border-color: #f89238;

    }

    a.current {
        color: #fff;
        background: #f89238;
        border-color: #f89238;
    }
}

.inquiry-box {
    background: url(../images/bgin.png);
    background-repeat: no-repeat;
    background-position: 300px center;
    font-size: 16px;

    .formbox {
        ul {
            li {
                margin-bottom: 40px;

                label {
                    width: 160px;
                    display: inline-block;
                    text-align: right;
                }

                input {
                    margin-left: 20px;
                    width: calc(~"100% - 180px");
                    height: 60px;
                    line-height: 60px;
                    padding: 0 14px;
                    border: 1px #bfc7d4 solid;
                    max-width: 610px;
                }

                textarea {
                    margin-left: 20px;
                    width: calc(~"100% - 180px");
                    height: 160px;
                    resize: none;
                    padding: 14px;
                    border: 1px #bfc7d4 solid;
                    max-width: 610px;
                }

                .btnbox {
                    margin-left: 20px;
                    width: calc(~"100% - 200px");
                    display: inline-block;
                }

                button {
                    width: 200px;
                    height: 54px;
                    border: 1px #fe8f01 solid;
                    font-size: 18px;
                    font-weight: bold;
                    cursor: pointer;
                    position: relative;
                    z-index: 100;

                    .animatebox {
                        display: block;
                        position: absolute;
                        width: 0%;
                        height: 100%;
                        background: #28346e;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        transition: 0.3s;
                    }

                    &:hover .animatebox {
                        width: 100%;


                    }

                    &:hover {
                        color: #fff;
                        border-color: #fff;
                    }
                }

                button.btn-Submit {
                    background: #fe8f01;
                    color: #fff;
                    transition: 0.3s;


                }

                button.btn-Reset {
                    color: #fe8f01;
                    background: #fff;
                    margin-left: 30px;

                    &:hover {
                        color: #fff;

                    }
                }
            }
        }
    }
}

.fcred {
    color: red;
}

.pagewrapbox {
    width: 100%;
}

.productinfo {
    .infotop {
        .imgbox {
            float: left;
            width: 366px;
        }

        .info-right {
            float: left;
            width: calc(~"100% - 406px");
            margin-left: 40px;

            .name-box {
                font-size: 24px;
                color: #fe8f01;
                padding-bottom: 20px;
                border-bottom: 1px #ddd solid;
                font-family: 'CenturyGothicStd_Bold';
            }

            ul {
                li {
                    line-height: 40px;

                    .txt-left {
                        width: 190px;
                        font-weight: bold;
                        display: inline-block;
                        text-align: right;
                        font-family: 'CenturyGothicStd_Bold';
                    }
                }
            }
        }
    }

    .navitem {
        background: #dae2ee;
        padding: 20px 30px;
        font-size: 24px;
        color: #28346e;
        font-family: 'CenturyGothicStd_Bold';
    }

    .tabbox {
        table {
            border: 1px #dbdbdb solid;

            tr {
                td {
                    text-align: center;
                    width: calc(100%/3);
                    border-color: #dbdbdb;
                    height: 40px;
                }
            }
        }
    }

    .Specificationslist {
        font-size: 16px;
        margin-top: 20px;

        li {
            span {
                color: #f67706;
                padding-right: 10px;
            }
        }
    }
}

table {
    border-collapse: collapse;

}

.bgctab {
    background: #f1f4f9;
}

.Gallerybox {
    position: relative;

    .Gallerybox-swiper {
        width: 94%;

        .imgbox {
            max-height: 185px;
            overflow: hidden;
        }
    }
}

.h50 {
    height: 50px;
    line-height: 50px;
}

.phototit {
    padding-top: 30px;
    border-top: 1px #a7a7a7 dashed;
}

.Gallerybox-prev,
.Gallerybox-next {
    background-image: none;
    color: #dddee5;
    font-size: 24px;
    transition: 0.3s;

    &:hover {
        color: #f89238;
    }
}

.Gallerybox-prev {
    left: 0;
}

.Gallerybox-next {
    right: 0;
}

.mobile-header{
    display: none;
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    .icontbox{
        background: #28346e;
        .menubox{
            width: 80px;
            height: 80px;
            font-size: 24px;
            text-align: center;
            line-height: 80px;
            color: #fff;
            float: left;
        }
        .logobox{
            width: 60%;
            float: right;
            text-align: right;
            img{
                height: 36px;
                margin-top: 22px;
               margin-right: 10px;
            }
        }
    }
    .mobile-nav{
        width: 80%;
        display: none;
        margin: auto;
        position: absolute;
        top: 80px;
        left:10%;
        z-index: 10000;
        background: #fff;
        border-left: 1px #ddd solid;
        border-right: 1px #ddd solid;
        border-bottom: 1px #ddd solid;
        .navlink{
            width: 100%;
            a{
                display: block;
                height: 50px;
                text-align: center;
                line-height: 50px;
                color: #333;
                border-bottom: 1px #f7f7f7 solid;
                font-size: 16px;
            }
        }
    }
}
@media screen and (max-width:1900px) {
    .indexbanner {
        .swiper-slide {
            .txt-box {
                width: 80%;

                h3 {
                    font-size: 50px;
                    line-height: 60px;
                }
            }
        }
    }

    .contentwrap {
        .showPre {
            .centershow {
                .showitem {
                    .texbox {
                        span {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }


}

@media screen and (max-width:1440px) {
    .indexbanner {
        .swiper-slide {
            .txt-box {
                width: 80%;

                h3 {
                    font-size: 40px;
                    line-height: 50px;
                }
            }
        }
    }

    .contentwrap {
        .showPre {
            .centershow {
                .showitem {
                    padding: 14px 20px;

                    .texbox {}
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .w1200 {
        width: 96%;
    }

    header .logo-box .nav-box .navlink a {
        margin: 0 2%;
    }


}

@media screen and (max-width:1178px) {
    .pc-hide {
        display: none;
    }
    .mobile-header{
        display: block;
    }
    .pageheadtop{
        margin-top: 0;
    }
    .indexbanner{
        top:0px;
    }
}

@media screen and (max-width:768px) {
    .productList .itempro{
        width: calc(~"100%/2 - 15px");
         margin-right: 30px;
         height: 308px;
         .pic{
            height: 260px;
         }
    }
    .productList .itempro:nth-child(2n) {
        margin-right: 0;
    }
    .productList .itempro:nth-child(3n) {
        margin-right: 30px;
    }

    .inquiry-box .formbox ul li label{
        width: 100%;
        text-align: left;
    }
    .inquiry-box .formbox ul li input{
         width: 100%;
        margin-left: 0;
    }

    .inquiry-box .formbox ul li textarea{
        width: 100%;
         margin-left: 0;
    }
    .inquiry-box .formbox ul li{
        margin-bottom: 20px;
    }
    .inquiry-box .formbox ul li .btnbox{
        width: 100%;
         margin-left: 0;
    }
    .inquiry-box .formbox ul li button{
        width: 45%;
       
    }
    .inquiry-box .formbox ul li button.btn-Reset{
         margin-left: 10px;
    }
    .boxinfo .info{
        width: 100%;
    }
    .boxinfo .mapbox{
        width: 100%;
        margin-left: 0;
        overflow: hidden;
        margin-top: 30px;
    }
    .boxinfo .info{
        line-height: 30px;
    }
    .fs18{
        font-size: 16px;
    }
    .productinfo .infotop .imgbox{
        width: 40%;
    }
    .productinfo .infotop .info-right{
        width: calc(~"60% - 40px ");
    }
    .productinfo .infotop .info-right ul li .txt-left{
        width: 160px;
    }
}

@media screen and (max-width:640px) {
    .contentwrap {
        .showPre {
            width: 76%;
        }
    }
    .pageheadtop{
        margin-top: 0;
    }
    .fs72 {
        font-size: 40px;
        line-height: 40px;
    }

    .fs36 {
        font-size: 24px;
        line-height: 24px;
    }

    .yellowbox .wrap-box .item {
        width: 100%;
    }

    body {
        font-size: 14px;
    }

    .sentmsg {
        padding: 10px;

        .formbox {
            .index-input {
                .outinput {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 10px;
                }

                textarea {
                    width: 100%;
                }
            }

            .index-input:last-child {
                margin-top: 0;
            }
        }
    }

    .productList .itempro {
        width: 100%;
        margin-right: 0;
    }

    .contentwrap .showPre {
        padding-top: 40px;
    }

    .contentwrap .showPre .centershow .showitem .texbox span {
        font-size: 18px;
    }

    .indexbanner {
        position: relative;
        top: 80px;
        // border-radius: 0;

    }

    .indexbanner .swiper-slide .txt-box h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .footerbox {
        .footerbottom {
            .leftbox {
                width: 100%;
            }

            .rightbox {
                width: 100%;
                margin: 20px auto 10px;
            }
        }
    }
    .index-about{
        font-size: 16px;
    }

    .wrap4-box .item{
        width: 100%;
    }
    .pageheadtop .picbox{
        height: 100px;
        overflow: hidden;
        margin-top: 80px;
    }

    .pageheadtop .menubox{
        margin-top: -50px;
        font-size: 14px;
        margin-bottom: 0;
    }
    .mt70{
        margin-top: 30px;
    }
    .mt50 {
        margin-top: 30px;
    }
    .yellowbox{
        padding: 20px;
    }
    .mb100 {
        margin-bottom: 20px;
    }
    .productmenu{
        padding: 20px;
    }
    .productmenu a:after{
        padding-left: 5px;
        padding-right: 5px;
    }
    .productinfo .infotop .imgbox{
        width: 100%;
        text-align: center;

    }
    .productinfo .infotop .info-right{
        width: 100%;
        margin-left: 0;
        margin-top: 30px;
    }
    .Gallerybox .Gallerybox-swiper{
        width: 84%;
    }

    .footerbox .footerbottom{
        padding: 20px;
    }

   
}